.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px 0 10px;
}

.timeline-container::after {
  background-color: #61a3f1;
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  width: 2px;
  height: 100%;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 0;
  width: 50%;
  min-height: 100px;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline-item-content {
  box-shadow:none;
  border-radius: 15px;
  background-color: #f4f7fe;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 7px 15px;
  position: relative;
  width: 100%;
  max-width: 100%;
  text-align: right;
  border: 1px solid #cee4ff;
}

.timeline-item-content::after {
  content: " ";
  background-color: #f4f7fe;
  box-shadow: 1px -1px 1px #d3d3d3;
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px #cee4ff;
}

.timeline-item-content .tag {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 12px;
  letter-spacing: 1px;
  padding: 5px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 5px;
}

.timeline-item-content time {
  color: #777;
  font-size: 13px;
  margin-left: 10px;

}

.timeline-item-content p {
  font-size: 13px;
  line-height: 19px;
  margin: 4px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.timeline-item-content a {
  font-size: 14px;
  font-weight: bold;
}

.timeline-item-content a::after {
  content: " ►";
  font-size: 12px;
}

.timeline-item-content .circle {
  background-color: #e6f2ff;
  border: 1px solid #61a3f1;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -42px;
}
.timeline-item-content h4{
  font-size: 13px;
  margin-bottom: 2px;

}

.inside-scroll-time-line{
  overflow-y: auto;
  height: calc(100vh - 0px);
  background-color: #f3f3f300!important;
  
}

.normal{
  background-color: rgba(10, 143, 220, 0.145) !important;
  color: rgb(10, 143, 220) !important;
}
.approve{
  background-color: rgba(1, 143, 105, 0.145) !important;
  color: rgb(1, 143, 105) !important;
}
.reject{
  background-color: rgba(240, 79, 71, 0.145) !important;
  color: rgb(240, 79, 71)!important;
}



